@using Microsoft.AspNetCore.Identity
@using thuctapCN.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> @UserManager.GetUserName(User)
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Profile" asp-action="Index">
                    <i class="bi bi-person"></i> Thông tin cá nhân
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="AccountSettings" asp-action="Index">
                    <i class="bi bi-gear"></i> Bảo mật
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="dropdown-item">
                        <i class="bi bi-box-arrow-right"></i> Đăng xuất
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
